
  
ion-tab-bar{
    padding: 10px;
}
  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: #03071e;
    font-weight: bold;

    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin: 0 auto;
      width: 20px;
      height: 2px;
    }
  }