ion-grid, ion-row, ion-col {
  padding: 0;
  margin: 0;
}
.home-container, ion-grid{
  height: 100%;
}
.flex-row {
  display: flex;
  flex-wrap: wrap; 
  height: 100%; 
}

ion-col {
  display: flex;
  flex: 1 0 50%; 
  padding: 0; 
}

ion-card {
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  // background-color: black;
  border: 1px dotted gray;
  width: 100%; 
  height: 100%; 
  padding: 0;
  margin: 0;
  border-radius: 0;
}

ion-card-title {
  font-size: 2em;
  font-weight: 300;
  color: white;
}

ion-card-subtitle {
  font-size: 1.2em;
  color: white;
  padding:15px 0;
}
.sp-card{
  border: none;
  margin: 10px;
  padding: 10px;
}

